.home-container {
  text-align: center;
  padding: 40px;
}

.main-heading {
  font-size: 36px;
  margin-bottom: 10px;
}

.sub-heading {
  color: gray;
  margin-bottom: 30px;
}

.hooks-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hook-card {
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  transition: 0.3s;
  color: black;
}

.hook-card:hover {
  background: #f4f4f4;
  transform: translateY(-5px);
}
